.app-container {
  text-align: center;
  padding: 1rem;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.course-card {
  flex: 1;
  min-width: 300px;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.course-term {
  font-weight: bold;
}

.course-title {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.course-info {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.course-term,
.course-title {
  margin: 0;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.term-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.term-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  transition: background-color 0.3s ease;
}

.term-button.selected {
  background-color: #007bff;
  color: #fff;
}

.selected {
  background-color: lemonchiffon;
  color: green;
}

.course-plan-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.course-plan-btn:hover {
  background-color: #45a049;
}


.not-allowed {
  opacity: 0.5;
  cursor: not-allowed;
}
